<div class="col-md-12 col-lg-6">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/330x175/?food,cook');">
    <div class="card-category">
      <% cook.specialities.each do |speciality| %>
        <%= speciality.name %> <span class="label label-default"><%= speciality.level %></span>
      <% end %>
    </div>
    <div class="card-description">
      <h2><%= cook.first_name %> <%= cook.last_name.upcase %></h2>
      <p>
        <%=cook.dishes.size %> <%= pluralize_with_0('popote', cook.dishes.size) %>
      </p>
    </div>
    <% if cook.avatar? %>
      <%= cl_image_tag cook.avatar.path, crop: :thumb, gravity: :face, class:"card-user avatar-large" %>
    <% else %>
      <%= image_tag "chef.jpg", class:"card-user avatar-large" %>
    <% end %>
    <%= link_to "", cook_path(cook), class: "card-link" %>
  </div>
</div>
