<div class="col-md-12 col-lg-6">
  <div class="cook_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/330x175/?food,cook');">
    <div class="cook_card-category">
      <% cook.specialities.each do |speciality| %>
        <%= speciality.name %> <span class="label label-warning"><%= speciality.level %></span>
      <% end %>
    </div>
    <div class="cook_card-description">
      <h2><%= cook.first_name %> <%= cook.last_name.upcase %></h2>
      <p>
        <% cook.places.each do |place| %>
          <% if place.active %>
           <%= place.full_place %>
          <% end %>
          <% if params[:location] %>
            <span class="label label-warning"><%= number_to_human(place.distance_from(params[:location]), units: {unit: "Km", mili: "m"}) %></span>
          <% end %>
        <% end %><br>
        <%= cook.dishes.size %> <%= pluralize_with_0('popote', cook.dishes.size) %>
      </p>
    </div>
    <% if cook.avatar? %>
      <%= cl_image_tag cook.avatar.path, quality: 80, fetch_format: :auto, crop: :thumb, gravity: :face, class:"cook_card-user avatar-large" %>
    <% else %>
      <%= image_tag "chef.jpg", class:"cook_card-user avatar-large" %>
    <% end %>
    <%= link_to "", cook_path(cook), class: "cook_card-link" %>
  </div>
</div>

