<%= simple_form_for @cook do |f| %>

  <% if !@cook.nil? && @cook.errors.any? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <ul>
      <% @cook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :last_name, label: 'Nom' %>
    <%= f.input :first_name, label: 'Prénom' %>
    <%= f.input :age, label: 'Âge', collection: 18..99 %>
    <%= f.input :bio, label: 'À propos de vous, de votre cuisine' %>
  </div>


  <h4>UN PORTRAIT DE VOUS, ÇA NE MANGE PAS DE PAIN</h4>

  <div class="field">
    <%= f.input :avatar, label: 'Photo', as: :attachinary %>
  </div>

  <h4>VOS SPECIALITÉS</h4>
    <div class="items">
      <%= f.simple_fields_for :cook_specialities do |cs| %>
        <%= cs.simple_fields_for :speciality do |s| %>
        <%= render 'speciality', s: s %>
        <% end %>
      <% end %>
    </div>

  <h4><%= "#{pluralize_with_0('ADRESSE', @cook.places.size).upcase} DE RETRAIT" %></h4>
  <p class="cook-address">
    Créez et gérez jusqu'à 3 adresses
  </p>
  <div class="items">
    <%= f.simple_fields_for :cook_places do |cp| %>
      <%= cp.simple_fields_for :place do |p| %>
      <%= render 'place', p: p %>
      <% end %>
    <% end %>
  </div>

  <p></p>

  <div class="action">
    <p>
      <% if @cook.places.size < 3 %>
        <%= link_to "Ajouter une adresse", "", class: "duplicate_nested_form btn btn-popote-bis" %>
      <% end %>
    </p>
    <p>
      <% if f.object.new_record? %>
        <%= f.button :button, "Créer".html_safe, class: "btn btn-warning btn-lg", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
      <% else %>
        <%= f.button :button, "Mettre à jour".html_safe, class: "btn btn-warning btn-lg", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %>
      <% end %>

      <%= link_to "Annuler", :back, class: "btn btn-default btn-lg" %>
    </p>
  </div>


<% end %>

