<%= simple_form_for @cook do |f| %>
  <%= f.input :last_name, label: 'Nom' %>
  <%= f.input :first_name, label: 'Prénom' %>
  <%= f.input :age, label: 'Âge', collection: 18..99 %>
  <%= f.input :bio, label: 'À propos de vous', placeholder: "Dîtes-en peu plus sur vous, sur votre cuisine..." %>

  <p>VOS SPECIALITÉS</p>
    <%= f.simple_fields_for :cook_specialities do |cs| %>
      <%= cs.simple_fields_for :speciality do |s| %>
        <%=s.input :name, label: 'Spécialité', collection: ["Gastronomique", "Terroir & Famille", "Cuisines du monde", "Bio & Diététique"], as: :select %>
        <%=s.input :level, label: 'Niveau', collection: ["Top Chef", "Avancé", "Amateur", "Débutant"], as: :select %>
      <% end %>
    <% end %>

  <%= f.input :avatar, as: :attachinary %>

  <p>ADRESSE DE COLLECTE DE VOS POPOTES</p>
      <%= f.simple_fields_for :cook_places do |cp| %>
        <%= cp.simple_fields_for :place do |p| %>
            <%=p.input :name, label: 'Titre'%>
            <%=p.input :kind_of_place, label: 'Type de lieu', collection: ["Domicile", "Bureaux/Agence", "Magasin/Restaurant", "Lieu public"], as: :select %>
            <%=p.input :full_address, label: 'Adresse' %>
            <%=p.input :zip_code , label: 'Code Postal'%>
            <%=p.input :city, label: 'Ville' %>
            <%=p.input :reception_desk, inline_label: "Le lieu bénéficie d'un comptoir d'accueil" %>
        <% end %>
      <% end %>

  <%= f.button :button, "OK".html_safe, class: "btn btn-success btn-lg", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} %> <%= link_to "Annulez", :back, class: "btn btn-default btn-lg" %>

<% end %>
