<% place.cooks.each do |cook| %>
  <div class="map_box" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/330x175/?food,cook');">
    <div class="map_box-category">
      <% cook.specialities.each do |speciality| %>
        <%= speciality.name %> <span class="label label-warning"><%= speciality.level %></span><br>
      <% end %>
    </div>

    <div class="map_box-description">
      <h2><%= cook.user.first_name %></h2>
      <p>
        <% cook.places.each do |place| %>
          <% if place.active %>
            <%= place.full_address %><br>
            <%= "#{place.zip_code} #{place.city}" %>
          <% end %>
          <% if params[:location] %>
            <span class="label label-warning"><%= number_to_human(place.distance_from(params[:location]), units: {unit: "Km", mili: "m"}) %></span>
          <% end %>
        <% end %><br>
      </p>
      <%= "#{cook.dishes.size} #{pluralize_with_0('popote', cook.dishes.size)}" %>
    </div>

    <% if cook.user.picture? && cook.avatar? %>
      <%= cl_image_tag cook.avatar.path, quality: 80, fetch_format: :auto, crop: :thumb, gravity: :face, class:"cook_card-user avatar-large" %>
    <% elsif !cook.user.picture? && cook.avatar? %>
    <%= cl_image_tag cook.avatar.path, quality: 80, fetch_format: :auto, crop: :thumb, gravity: :face, class:"cook_card-user avatar-large" %>
    <% elsif cook.user.picture? && !cook.avatar? %>
      <%= image_tag cook.user.picture, class:"cook_card-user avatar-large" %>
    <% else %>
      <%= image_tag "chef.jpg", class:"cook_card-user avatar-large" %>
    <% end %>

    <%= link_to "", cook_path(cook), class: "map_box-link" %>
  </div>
<% end %>








