<div class="container padded">
  <div class="row">
      <% @cooks.each do |cook| %>

      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
          <div class="card-category">

          </div>
          <div class="card-description">
            <h3><%= cook.first_name %> <%= cook.last_name.upcase %></h3>
            <p><%= cook.dishes.size %> <%= pluralize_with_0('popote', cook.dishes.size) %> <%= pluralize_with_0('disponible', cook.dishes.size) %></p>
          </div>
          <% if cook.avatar? %>
            <%= cl_image_tag cook.avatar.path, crop: :thumb, gravity: :face, class:"card-user avatar-large" %>
          <% else %>
            <%= image_tag "chef.jpg", class:"card-user avatar-large" %>
          <% end %>
          <%= link_to "", cook_dishes_path(cook), class:"card-link" %>
        </div>
      </div>

    <% end %>

  </div>
</div>



