
<div class="container">
  <div class="cook">
    <div class="cook-category">
      <% @specialities.each do |speciality| %>
        Spécialité <span class="label label-default"><%= speciality.name %></span> niveau <span class="label label-default"><%= speciality.level %></span>
      <% end %>
    </div>
    <div class="cook-description">
      <h2><%= @cook.first_name %> <%= @cook.last_name.upcase %></h2>
      <p>
        <%= @cook.age %> ans
      </p>
    </div>

    <% if @cook.avatar? %>
      <%= cl_image_tag @cook.avatar.path, class:"cook-user avatar-extra-large" %>
    <% else %>
      <%= image_tag "chef.jpg", width: 100, height: 125, quality: 80, fetch_format: :auto, crop: :thumb, gravity: :face, class:"cook-user avatar-extra-large" %>
    <% end %>
  </div>
</div>

<div class="container">
  <% if @cook.user == current_user %>
    <p><%= link_to "Retour", cooks_path, class: "btn btn-popote-bis btn-lg" %> <%= link_to "Modifier mon profil", edit_cook_path(@cook), class: "btn btn-popote-bis btn-lg" %></p>
  <% else %>
    <%= link_to "Retour", cooks_path, class: "btn btn-popote-bis btn-lg" %>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">

    <h1 class="text-center">Plats</h1>

    <% if @cook.user == current_user %>

      <p><%= link_to "Ajouter un plat", new_cook_dish_path(@cook,@dish), class: "btn btn-popote btn-lg" %></p>

    <% else %>

    <% end %>

    <% @dishes.each do |dish| %>

      <div class="dish">
        <div class='dish-upvote'>
          <!-- <div class="dish-arrow"></div> -->
          <div class='dish-count'><%= dish.portion_count %></div>
        </div>

        <% if dish.photos? %>

          <%= cl_image_tag dish.photos.first.path, height: 133, width: 200, quality: 80, fetch_format: :auto, crop: :fill, class:"dish-image hidden-xs" %>

        <% else %>

          <%= image_tag "tupperwares.jpg", alt:"Popote", class:"dish-image hidden-xs" %>

        <% end %>

        <div class='dish-body'>

          <h3><%= link_to dish.name, cook_dish_path(@cook,dish) %></h3>

          <p>
            <span class="label label-default"> <%= dish.kind_of_dish %></span> <%= dish.speciality %><br>
            <%= render "countdown", dish: dish %><br>
            <h5><%= number_to_currency(dish.price, locale: :fr) %></h5>
          </p>

        </div>

        <% if @cook.user == current_user %>

          <ul class="list-inline dish-controls hidden-sm hidden-xs">
            <li>
              <%= link_to edit_cook_dish_path(@cook,dish) do %>
              <i class="fa fa-pencil"></i>
              <% end %>
            </li>
            <li>
              <%= link_to cook_dish_path(@cook,dish), method: :delete, data: {confirm: 'Êtes-vous sûr de vouloir supprimer votre popote ?'} do %>
              <i class="fa fa-trash"></i>
              <% end %>
            </li>
          </ul>

        <% else %>

          <ul class="list-inline dish-controls">
            <li>
              <%= render "add_to_cart", cook: @cook, dish: dish %>
            </li>
          </ul>

        <% end %>

      </div>

    <% end %>

  </div>
</div>

<div class="container">

  <h1 class= "text-center"><%= "#{@places.size} #{pluralize_with_0('Adresse', @places.size)} de retrait #{pluralize_with_0('utilisée', @places.size)}" %></h1>

  <% @places.each do |place| %>

    <p>
      <span class="label label-default"><%= place.kind_of_place %></span><br>
      <%= place.full_address %> <%= place.zip_code %> <%= place.city %> <br>
      Adresse active : <span class="label label-default"><%= humanize_boolean(place.active) %></span>
    </p>

  <% end %>

  <h1 class= "text-center">Cuisine</h1>

  <p>
    " <em><%= @cook.bio %> </em> "
  </p>

</div>







