<div class="container padded">
  <div class="card">
    <div class="card-category"> </div>
    <div class="card-description">
      <h3><%= @cook.first_name %> <%= @cook.last_name.upcase %></h3>
      <p>
        <%= @cook.age %> ans
      </p>
      <p>
        <%= @cook.bio %>
      </p>
      <p>
        <%= @cook.dishes.size %> <%= pluralize_with_0('popote', @cook.dishes.size) %> <%= pluralize_with_0('disponible', @cook.dishes.size) %>
      </p>
    </div>
    <% if @cook.avatar? %>
      <%= cl_image_tag @cook.avatar.path, class:"card-user avatar-large" %>
    <% else %>
      <%= image_tag "chef.jpg", crop: :thumb, gravity: :face, class:"card-user avatar-large" %>
    <% end %>
    <%= link_to "", cook_dishes_path(@cook), class:"card-link" %>
  </div>
  &nbsp
  <p>
    <%= link_to "Retour", cooks_path, class: "btn btn-popote-bis" %> <%= link_to "Mettre à jour", edit_cook_path(@cook), class: "btn btn-popote-bis" %> <%= link_to "Supprimer", cook_path(@cook), method: :delete, class: "btn btn-popote-bis" %>
  </p>
</div>

