<div id="footer">

  <div class="container text-center">

    <div class="flex">

      <div class="footer-section">
        <h3 class="text-center">Nous connaître</h3>
        <div><%= link_to "quèsaco ?", about_path %></div>
        <div><%= link_to "Comment ça marche ?", features_path %></div>
        <div><%= link_to "Conditions générales d'utilisation" %></div>
        <div><%= link_to "Hygiène et sécurité", hygiene_path %></div>
        <div><%= mail_to "", "Nous écrire" %></div>
        <div><%= link_to "FAQ" %></div>
      </div>

      <div class="footer-section">
        <h3>Nous suivre</h3>
        <div class="footer-section-links">
          <div><%= link_to raw('<i class="fa fa-facebook fa-2x"></i>'), "", target: "blank" %></div>
          <div><%= link_to raw('<i class="fa fa-twitter fa-2x"></i>'), "", target: "blank" %></div>
          <div><%= link_to raw('<i class="fa fa-instagram fa-2x"></i>'), "", target: "blank" %></div>
          <div><%= link_to raw('<i class="fa fa-pinterest fa-2x"></i>'), "", target: "blank" %></div>
        </div>
      </div>

    </div>

    <p>© <%= Time.now.year %> Clément TANGUY</p>

  </div>

</div>
