<%= simple_form_for @order, url: order_path do |o| %>
  <% if !@order.nil? && @order.errors.any? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= o.input :first_name, label: 'Prénom' %>
    <%= o.input :email, label: 'Email de confirmation' %>
  </div>

  <div class="form-actions">
    <%= o.button :submit, "Je commande", class: "btn btn-popote btn-lg" %>
  </div>

<% end %>
