<%= simple_form_for @order_nsi do |o| %>
  <% if !@order_nsi.nil? && @order_nsi.errors.any? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <ul>
      <% @order_nsi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= o.input :first_name, label: 'Prénom'%>
  </div>
  <div class="form-inputs">
    <%= o.input :email, label: 'Email de confirmation', input_html: { id: 'email_format' } %>
    <span id= "email-tips" ></span>
  </div>

  <hr>

  <div class="form-actions">
    <%= o.button :submit, "Je commande", class: "btn btn-popote btn-lg" %><br>
    <br>
    <%= link_to "Modifier votre panier", cart_path, class:'btn btn-popote-bis' %>
  </div>

<% end %>
