<div class=" container text-center">

  <% @order_items.each do |order_item| %>
    <%= render 'order_items', order_item: order_item, dish: order_item.dish, show_total: true %>
  <% end %>

  <p class="container text-left">
    TOTAL <span class="label label-warning"><%= number_to_currency(@cart.subtotal, locale: :fr) %></span>
     &nbsp | &nbsp FRAIS DE SERVICE <span class="label label-warning"><%= number_to_currency(@cart.charge, locale: :fr) %></span>
     &nbsp | &nbsp MONTANT À PAYER <span class="label label-warning"><%= number_to_currency(@cart.total_amount, locale: :fr)%></span>
  </p>

    <br>

  <% if current_user %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <%= render 'signed_in' %>
        </div>
      </div>
    </div>

  <% else %>
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <%= render 'not_signed_in' %>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
          <h4>Commander grâce à votre compte</h4>
          <%= link_to "Connexion", new_user_session_path, class:"btn btn-popote btn-lg" %>
        </div>
      </div>
    </div>

  <% end %>
</div>
