<div class="container padded">

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "locate.svg" %>
    </div>
    <div class="feature">
      <h4>Repérez les chefs, choissisez leurs popotes, géolocalisez les lieux de collecte proposés</h4>
      <p>
        Maria, le cordon-bleu de la compta a mijoté un bœuf-carotte pour un régiment.<br>
        Trois portions seront disponibles le lendemain pour ses collègues de bureau ou à l'accueil de son immeuble, pour ceux qui ne travaillent pas dans ses locaux.<br>
        William, passionné de cuisine, a réalisé un risotto au safran et à se damner.<br>
        Lors de sa ballade habituelle autour de sa boîte après déjeuner, il est d'accord pour livrer deux parts de son trésor.
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "notify.svg" %>
    </div>
    <div class="feature">
      <h4>Réservez vos portions en deux coups de cuillère à pot jusqu'à votre départ au boulot</h4>
      <p>
        Un compte-à-rebours se déclenche lorsque le chef valide la date et l'heure limites pour commander ses plats.<br>
        Il complète un descriptif complet et précis de leur composition dans ses annonces.<br>
        Le nombres de portion(s), le lieu de collecte indiqué sur la carte grâce à la géolocalisation, et l'heure précise de rendez-vous sont également renseignés.
      </p> 
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "payonline.svg" %>
    </div>
    <div class="feature">
      <h4>Commandez et payez simplement votre Vatel en ligne</h4>
      <p>
        <em>
          "L'oseille, c'est pour les plats..."
        </em><br>
          Aucun échange de liquide, vous l'aurez compris, ni de messages entre utilisateurs.<br>
          CB, PayPal, cartes Ticket-Restaurant© et Chèques-Déjeuner©, coupons prépayés en ligne, payez très facilement.<br>
          Parce qu'il faut bien que l'on mange nous aussi, après les frais de service, on en croque donc légèrement au passage :<br>
          Pour l'acheteur, 15% de commission sur les plats commandés. Pour le chef, 10% de commission.<br>
          De leur côté, les chefs se constituent une petite cagnotte, qu'ils récupèrent par virement en fin de mois.
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "collect.svg" %>
    </div>
    <div class="feature">
      <h4>Récupérez votre plat en chemin, à proximité, devant, à l'accueil ou sur votre lieu de travail</h4>
      <p>
        Nous proposons également aux utilisateurs de commander des gamelles uniformisées pour chaque type de préparation, leur permettant ainsi de se les échanger.<br>
        Nettoyées, réutilisées pour de nouvelles popotes lors de commandes suivantes, l'échange permet de diminuer l'impact sur l'environnement.<br>
        Vous pouvez aussi échanger vos propres boîtes alimentaires, utiliser des barquettes individuelles, cartonnées et jetables, recyclables bien-sûr !
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "rating.svg" %>
    </div>
    <div class="feature">
      <h4>Évaluez votre repas, encensez votre gueulton, condamnez les supplices</h4>
      <p>
        <em>
          "Perle rare"<br>
          "Prince des papilles"<br>
          "Alchimiste gustatif"<br>
          "Cuistot de cantoches"<br>
          "Infâme opportuniste"<br>
        </em>
        Les radins, les gros dégueulasses seront naturellement bannis. Entre-nous, misez davantage sur l'hygiène des particuliers, à plus forte raison lorsqu'ils cuisinent d'abord pour eux-mêmes, que sur celle de nombreux lieux ouvert au public…
      </p>
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    function showFeature () {
      $(this).closest('.feature-box').find('.feature p').show();
    }
    // function hideFeature () {
    //   $(this).closest('.feature-box').find('.feature p').hide();
    // }
    $(document).ready(function() {
      $('.icon').on('mouseenter', 'img', showFeature);
      $('.feature').on('mouseenter', 'h4', showFeature);
      // $('.icon').on('mouseleave', 'img', hideFeature);
      // $('.feature').on('mouseleave', 'h4', hideFeature);
    });
  </script>
<% end %>



