<div class="container padded">

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "locate.svg" %>
    </div>
    <div class="feature">
      <h4>Géolocalise du rab disponible autour de toi ou à proximité d'un lieu de collecte souhaité</h4>
      <p>
        Maria habite à deux pas et a mijoté un bœuf-carotte pour un régiment.<br>
        Elle propose trois portions dès le soir même à venir récupérer devant chez elle.<br>
        William, passionné de cuisine, a réalisé un risotto au safran et à se damner.<br>
        Lors de sa ballade dans le quartier après déjeuner, il propose deux parts de son trésor à retirer devant sa boîte.
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "notify.svg" %>
    </div>
    <div class="feature">
      <h4>Réserve une portion en deux coups de cuillère à pot</h4>
      <p>
        Un compte-à-rebours se déclenche aussitôt qu'un chef valide son plat avec la date et l'heure limites pour commander du rab.
        Il renseigne bien sûr un descriptif complet avec photo, la composition précise de ses plats et l'heure de rendez-vous.
        Les portions disponibles ainsi que le lieu de collecte sont indiqués sur la carte grâce à la géolocalisation.
      </p> 
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "payonline.svg" %>
    </div>
    <div class="feature">
      <h4>Commande et paye simplement ton Vatel en ligne</h4>
      <p>
        <em>
          "L'oseille, c'est pour les plats..."<br>
        </em>
        <br>
          Aucun échange de liquide, tu l'auras compris. Paiements en ligne simples et totalement sécurisés.<br>
          Parce qu'il faut bien qu'on mange nous aussi (après nos frais de service), on en croque donc légèrement au passage :<br>
          Pour les cordons bleus qui proposent du rab, on rajoute 10 % de commission sur des plats à prix abordable, ça ne fait donc pas bézef... Les chefs se constituent ainsi une petite cagnotte, qu'ils récupèrent par virement bancaire en fin de mois sur simple ordre avant le 20, en fin de mois suivant après le 20.<br>
          En revanche, si tu veux du rab, c'est totalement gratos.<br>
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "collect.svg" %>
    </div>
    <div class="feature">
      <h4>Récupère ton plat à proximité, devant chez un voisin, en chemin, ou sur ton lieu de travail...</h4>
      <p>
        Rab It propose aux chefs de se procurer des emballages écologiques, recyclables, biodégradables ou compostables, pour chaque type de préparation (soupes, entrées, plats, desserts).<br>
        Les échanges dans des récipoient éco-responsables permettent ainsi de réduire l'impact sur l'environnement.
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "rating.svg" %>
    </div>
    <div class="feature">
      <h4>Évalue ton expérience : encense les bons gueultons, condamne tout de suite les supplices</h4>
      <p>
        <em>
          "Perle rare"<br>
          "Prince des papilles"<br>
          "Alchimiste gustatif"<br>
          "Cuistot de cantoches"<br>
          "Infâme opportuniste"<br>
        </em>
        <br>
        Les radins ou le fouttage de gueule seront tout naturellement bannis, en très peu de temps.
      </p>
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    function showFeature () {
      $(this).closest('.feature-box').find('.feature p').show();
    }
    // function hideFeature () {
    //   $(this).closest('.feature-box').find('.feature p').hide();
    // }
    $(document).ready(function() {
      $('.icon').on('mouseenter', 'img', showFeature);
      // $('.feature').on('mouseenter', 'h4', showFeature);
      // $('.icon').on('mouseleave', 'img', hideFeature);
      // $('.feature').on('mouseleave', 'h4', hideFeature);
    });
  </script>
<% end %>



