<div class="container padded">

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "locate.svg" %>
    </div>
    <div class="feature">
      <h4>
        LOREM IPSUM
      </h4>
      <p>
        Eodem tempore etiam Hymetii praeclarae indolis viri negotium est actitatum, cuius hunc novimus esse textum. cum Africam pro consule regeret Carthaginiensibus victus inopia iam lassatis, ex horreis Romano populo destinatis frumentum dedit, pauloque postea cum provenisset segetum copia, integre sine ulla restituit mora.
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "notify.svg" %>
    </div>
    <div class="feature">
      <h4>
        LOREM IPSUM
      </h4>
      <p>
        Eodem tempore etiam Hymetii praeclarae indolis viri negotium est actitatum, cuius hunc novimus esse textum. cum Africam pro consule regeret Carthaginiensibus victus inopia iam lassatis, ex horreis Romano populo destinatis frumentum dedit, pauloque postea cum provenisset segetum copia, integre sine ulla restituit mora.
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "payonline.svg" %>
    </div>
    <div class="feature">
      <h4>
        LOREM IPSUM
      </h4>
      <p>
        Eodem tempore etiam Hymetii praeclarae indolis viri negotium est actitatum, cuius hunc novimus esse textum. cum Africam pro consule regeret Carthaginiensibus victus inopia iam lassatis, ex horreis Romano populo destinatis frumentum dedit, pauloque postea cum provenisset segetum copia, integre sine ulla restituit mora.
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "collect.svg" %>
    </div>
    <div class="feature">
      <h4>
        LOREM IPSUM
      </h4>
      <p>
        Eodem tempore etiam Hymetii praeclarae indolis viri negotium est actitatum, cuius hunc novimus esse textum. cum Africam pro consule regeret Carthaginiensibus victus inopia iam lassatis, ex horreis Romano populo destinatis frumentum dedit, pauloque postea cum provenisset segetum copia, integre sine ulla restituit mora.
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "rating.svg" %>
    </div>
    <div class="feature">
      <h4>
        LOREM IPSUM
      </h4>
      <p>
        Eodem tempore etiam Hymetii praeclarae indolis viri negotium est actitatum, cuius hunc novimus esse textum. cum Africam pro consule regeret Carthaginiensibus victus inopia iam lassatis, ex horreis Romano populo destinatis frumentum dedit, pauloque postea cum provenisset segetum copia, integre sine ulla restituit mora.
      </p>
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    function showFeature () {
      $(this).closest('.feature-box').find('.feature p').show();
    }
    // function hideFeature () {
    //   $(this).closest('.feature-box').find('.feature p').hide();
    // }
    $(document).ready(function() {
      $('.icon').on('mouseenter', 'img', showFeature);
      $('.feature').on('mouseenter', 'h4', showFeature);
      // $('.icon').on('mouseleave', 'img', hideFeature);
      // $('.feature').on('mouseleave', 'h4', hideFeature);
    });
  </script>
<% end %>



