<div class="container padded">

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "locate.svg" %>
    </div>
    <div class="feature text-center">

    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "notify.svg" %>
    </div>
    <div class="feature text-center">

    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "payonline.svg" %>
    </div>
    <div class="feature text-center">

    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "collect.svg" %>
    </div>
    <div class="feature text-center">

    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "rating.svg" %>
    </div>
    <div class="feature text-center">

    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    function showFeature () {
    $(this).closest('.feature-box').find('.feature p').show();
    }
    $(document).ready(function() {
      $('.icon').on('mouseover', 'img', showFeature);
      $('.feature').on('mouseover', 'h4', showFeature);
    });
  </script>
<% end %>



