<div class="container padded">

  <div class="container">
    <div id="flex">
      <div class="feature">
        <%= image_tag "locate.svg"%>
      </div>
      <div class="feature">
        <p>
          <strong>visualisez les chefs amateurs et salivez devant ce qu'ils concoctent<br>
          Géolocalisez les lieux de retraits proposés</strong><br>
          <em>
            Ex. : Maria, le cordon-bleu de la compta a mijoté un bœuf-carotte la veille pour un régiment. Trois portions seront disponibles à l'accueil de son bureau, pour ceux qui ne travaillent pas dans ses locaux.<br>
            William, passionné de cuisine, s'est lancé dans un risotto au safran et à se damner.<br>
            Il est d'accord pour apporter deux part de son trésor lors de sa ballade postpandriale autour de sa boîte.
          </em>
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="flex">
      <div class="feature">
        <%= image_tag "notify.svg"%>
      </div>
      <div class="feature">
        <p>
          <strong>Réservez vos portions en deux coups de cuillère à pot, la veille au soir jusqu'à votre départ au boulot le lendemain</strong><br>
          Un compte-à-rebours est déclenché par le chef lorsqu'il valide la date et l'heure limites pour commander.<br>
          Il renseigne dans ses annonces de popotes un descriptif précis des plats et de leur composition.<br>
          Le nombres de portion(s), le lieu précis (indiqués sur la carte grâce à la géolocalisation) et l'heure de rendez-vous pour retrait, sont également renseignés.
        </p> 
      </div>
    </div>
  </div>

  <div class="container">
    <div id="flex">
      <div class="feature">
        <%= image_tag "payonline.svg" %>
      </div>
      <div class="feature">
        <p>
          <strong>Payez votre Vatel en ligne</strong><br>
          L'oseille, c'est pour les plats... Pas d'échange de liquide, de messages interminables entre utilisateurs et chefs<br>
          CB, PayPal, nouvelles cartes Ticket-Restaurant© et Chèques-Déjeuner©, crédits de 10€ prépayés en ligne...<br>
          Parce qu'il faut bien qu'on bouffe nous aussi après tous les frais de service, on en croque légèrement au passage. Pour l'acheteur: 15% de commission sur les plats préparés.<br>
          Pour le chef: 10% de commission.<br>
          Les chefs se constituent une petite cagnotte et récupèrent leur dû au mois, mais ont aussi la possibilité de demander un remboursement anticipé après leur évaluation.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="flex">
      <div class="feature">
        <%= image_tag "collect.svg"%>
      </div>
      <div class="feature">
        <p>
          <strong>Récupérez votre gamelle sur le chemin, à l'accueil, devant ou à proximité de votre lieu de travail</strong><br>
          Les utilisateurs pourront même s'offrir des gamelles compartimentées, uniformisées et estampillée<br>
          <strong>Popotes & Moi</strong> (type bento japonais en plastique recyclable), leur permettant de se les échanger.<br>
          Lavées, réutilisées pour de nouvelles recettes ou rendues aux chefs lors de commandes suivantes, l'échange de gamelles permet un impact minimum sur l'environnement.<br> 
          Vous pouvez également échanger vos propres boîtes alimentaires légères ou utiliser des barquettes individuelles cartonnées jetables achetéées en grandes surfaces... Recyclables bien entendu !
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="flex">
      <div class="feature">
        <%= image_tag "rating.svg"%>
      </div>
      <div class="feature">
        <p>
          <strong>Évaluez votre repas, encenser votre gueulton ou  condamnez les  supplices</strong><br>
          <em>
            "Perle rare"<br>
            "Prince des papilles"<br>
            "Alchimiste gustatif"<br>
            "Cuistot de cantoches"<br>
            "Infâme opportuniste"
          </em><br>
          Les radins, les gros dégueulasses seront naturellement bannis. Entre-nous, misez davantage sur l'hygiène des particuliers que sur celle de nombreux lieux publics...
        </p>
      </div>
    </div>
  </div>

</div>
