<div class="container padded">

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "locate.svg" %>
    </div>
    <div class="feature">
      <h4>Repère les chefs, choisis leurs popotes, géolocalise les lieux de collecte proposés</h4>
      <p>
        Maria, le cordon-bleu de la compta a mijoté un bœuf-carotte pour un régiment.<br>
        Trois portions seront disponibles le lendemain pour ses collègues de bureau ou à l'accueil de son immeuble, pour ceux qui ne travaillent pas dans ses locaux.<br>
        William, passionné de cuisine, a réalisé un risotto au safran et à se damner.<br>
        Lors de sa ballade habituelle autour de sa boîte après déjeuner, il est d'accord pour livrer deux parts de son trésor.
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "notify.svg" %>
    </div>
    <div class="feature">
      <h4>Réserve tes portions en deux coups de cuillère à pot jusqu'à ton départ au boulot</h4>
      <p>
        Un compte-à-rebours se déclenche lorsque le chef valide la date et l'heure limites pour commander ses plats.<br>
        Il complète un descriptif complet avec photos et précise leur composition dans ses annonces.<br>
        Le nombres de portion(s), le lieu de collecte indiqué sur la carte grâce à la géolocalisation, et l'heure précise de rendez-vous sont également renseignés.
      </p> 
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "payonline.svg" %>
    </div>
    <div class="feature">
      <h4>Commande et paye simplement ton Vatel en ligne</h4>
      <p>
        <em>
          "L'oseille, c'est pour les plats..."
        </em><br>
          Aucun échange de liquide, tu l'auras compris.<br>
          Crédits de 10 ou 20€ prépayés très facilement et totalement sécurisés.<br>
          Parce qu'il faut bien qu'on mange nous aussi, après les frais de service, on en croque donc légèrement au passage :<br>
          Pour l'acheteur, c'est gratos. Pour le chef, 10% de commission.<br>
          Les chefs se constituent une petite cagnotte, qu'ils récupèrent par virement en fin de mois pour toute commande avant le 15, en fin de mois suivant après le 15.
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "collect.svg" %>
    </div>
    <div class="feature">
      <h4>Récupère ton plat en chemin, à proximité, devant, à l'accueil ou sur ton propre lieu de travail</h4>
      <p>
        Nous proposons aux utilisateurs de commander des gamelles cartonnées, uniformisées pour chaque type de préparation (soupes, entrées, plats, desserts), leur permettant ainsi de se les échanger.<br>
        Nettoyées, réutilisées pour de nouvelles popotes lors de commandes suivantes, l'échange permet de diminuer l'impact sur l'environnement.<br>
        Tu peux aussi échanger tes propres boîtes alimentaires, utiliser des barquettes individuelles, cartonnées et jetables, recyclables bien-sûr !
      </p>
    </div>
  </div>

  <div class="feature-box">
    <div class="icon">
      <%= image_tag "rating.svg" %>
    </div>
    <div class="feature">
      <h4>Évalue ton expérience, encense les gueultons, condamne les supplices</h4>
      <p>
        <em>
          "Perle rare"<br>
          "Prince des papilles"<br>
          "Alchimiste gustatif"<br>
          "Cuistot de cantoches"<br>
          "Infâme opportuniste"<br>
        </em>
        Les radins, les gros dégueulasses seront naturellement bannis. Entre-nous, mise davantage sur l'hygiène des particuliers, à plus forte raison lorsqu'ils cuisinent d'abord pour eux-mêmes, que sur celle de nombreux lieux ouvert au public…
      </p>
    </div>
  </div>

</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    function showFeature () {
      $(this).closest('.feature-box').find('.feature p').show();
    }
    // function hideFeature () {
    //   $(this).closest('.feature-box').find('.feature p').hide();
    // }
    $(document).ready(function() {
      $('.icon').on('mouseenter', 'img', showFeature);
      $('.feature').on('mouseenter', 'h4', showFeature);
      // $('.icon').on('mouseleave', 'img', hideFeature);
      // $('.feature').on('mouseleave', 'h4', hideFeature);
    });
  </script>
<% end %>



