<div class="container padded">

  <div class="container">
    <div id="flex">
      <div class="feature">
        <%= image_tag "locate.svg"%>
      </div>
      <div class="feature">
        <p>

        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="flex">
      <div class="feature">
        <%= image_tag "notify.svg"%>
      </div>
      <div class="feature">
        <p>

        </p> 
      </div>
    </div>
  </div>

  <div class="container">
    <div id="flex">
      <div class="feature">
        <%= image_tag "payonline.svg" %>
      </div>
      <div class="feature">
        <p>

        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="flex">
      <div class="feature">
        <%= image_tag "collect.svg"%>
      </div>
      <div class="feature">
        <p>

        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="flex">
      <div class="feature">
        <%= image_tag "rating.svg"%>
      </div>
      <div class="feature">
        <p>

        </p>
      </div>
    </div>
  </div>

</div>
