<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="dish">

      <div class='dish-upvote'>
        <div class="dish-up">
          <%= link_to increment_order_item_path(order_item), method: :post, remote: true do %>
            <i class="fa fa-plus"></i>
          <% end %>
        </div>
        <div class='dish-count'><%= order_item.quantity %></div>
        <div class="dish-down">
          <%= link_to decrement_order_item_path(order_item), method: :post, remote: true do %>
            <i class="fa fa-minus"></i>
          <% end %>
        </div>
      </div>

      <% if dish.photos? %>
        <%= cl_image_tag dish.photos.first.path, height: 117, width: 175, quality: 80, fetch_format: :auto, crop: :fill, class:"dish-image hidden-xs" %>
      <% else %>
        <%= image_tag "tupperwares.jpg", alt:"Popote", class:"dish-image hidden-xs" %>
      <% end %>

      <div class='dish-body'>
        <h3><%= dish.name %></h3>

        <p>
          <h5><%= number_to_currency(order_item.total_price, locale: :fr) %></h5>
        </p>
      </div>
      <div class="dish-details">
        <h5>Rendez-vous</h5>
        <p>
          <% dish.cook.places.each do |place| %>
            <% if place.active %>
              <%= place.full_address %><br>
              <%= "#{place.zip_code} #{place.city}" %><br>
            <% end %>
          <% end %>
          <span class="label label-primary"><%= "#{dish.collect_date.strftime('%d/%m/%Y %H:%M')}" %></span>
        </p>
      </div>

      <ul class="list-inline dish-controls">
        <li>
          <%= link_to order_item, data: { confirm: "Êtes-vous sûr de vouloir supprimer la popote '#{order_item.dish.name}' de votre panier ?" }, method: :delete, remote: true do %>
          <i class="fa fa-trash"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

