<div class="flash"></div>

<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @order_items.size == 0 %>

  <div class="padded text-center">
    <p>
      Vous n'avez aucune popote dans votre panier<br>
      <%= link_to "Accueil", root_path, class:"btn btn-primary btn-lg" %>
    </p>
  </div>

<% else %>

  <div class="container padded text-left">
    <%= link_to "Encore faim ?", cooks_path, class: 'btn btn-popote-bis btn-lg' %>
  </div>

  <% @order_items.each do |order_item| %>

    <div class="cart-<%= order_item.id %>">
      <%= render 'carts/cart_row', order_item: order_item, dish: order_item.dish, show_total: true %>
    </div>

  <% end %>

  <div class="total-cart">
    <%= render 'carts/total_cart', current_cart: current_cart %>
  </div>

<% end %>
