<%= simple_form_for ([@cook,@dish]) do |f| %>

  <% if !@dish.nil? && @dish.errors.any? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <ul>
      <% @dish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Nom', class: 'form-control' %>
    <%= f.input :kind_of_dish, label: 'Type de popote', collection: ["Entrée", "Plat principal", "Dessert & Patisserie"], as: :select %>
    <%= f.input :speciality, label: 'Spécialité', collection: ["Gastronomique", "Terroir & Famille", "Cuisines du monde", "Bio & Diététique"], as: :select %>
    <%= f.input :description, label: "Recette", placeholder: 'Préparation, principaux ingrédients, éventuels allergènes... Soyez le plus précis possible' %>
  </div>

  <div class="form-inline">
    <div class="form-inputs">
       &nbsp <%= f.input :veggie, inline_label: 'Végétarien' %>
       &nbsp <%= f.input :cooked, inline_label: 'Plat cuit' %>
       &nbsp <%= f.input :be_reheated, inline_label: 'À réchauffer' %>
    </div>
  </div>

   <p>&nbsp</p>

  <div class="form-inline">
    <div class="form-inputs">
       &nbsp <%= f.input :gluten_free, inline_label: 'Sans gluten' %>
       &nbsp <%= f.input :halal, inline_label: 'Halal' %>
       &nbsp <%= f.input :kosher, inline_label: 'Casher' %>
    </div>
  </div>

   <p>&nbsp</p>

  <div class="form-inputs">
    <%= f.input :portion_size, label: 'Taille de la portion', collection: ["Petite (env. 150g)", "Moyenne (200-300g)", "Grande (>300g)"], as: :select %>
    <%= f.input :portion_count, label: 'Nombre de portion(s)', collection: 1..50 %>
    <%= f.input :price, label: "Prix (à partir d'1€)", placeholder: "15 % de frais s'ajoutent automatiquement pour votre acheteur" %>
  </div>

  <div class='row datetimerange'>
      <%= f.input :exp_date, label: "Date limite pour commander votre plat ?", as: :datetime_picker, wrapper: :ranged_datetime, input_html: {data: {date_options: {locale: 'fr', minDate: Time.now}}} %>
      <%= f.input :collect_date, label: "Quand exactement récupérer votre plat ?", as: :datetime_picker, wrapper: :ranged_datetime, input_html: {data: {date_options: {locale: 'fr', minDate: Time.now}}}  %>
  </div>

  <p>&nbsp</p>

  <div class="form-inputs">
    <%= f.input :photos, as: :attachinary, label: "Photos (2 max)" %>
  </div>

  <p>&nbsp</p>

  <div class="form-actions">
    <% if f.object.new_record? %>
      <%= f.button :button, "Créer".html_safe, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}, class: "btn btn-popote btn-lg"%>
    <% else %>
      <%= f.button :button, "Modifier".html_safe, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}, class: "btn btn-popote btn-lg"%>
    <% end %>

    <%= link_to "Annuler", :back, class: "btn btn-default btn-lg" %>
    </div>

<% end %>

