<%= simple_form_for ([@cook,@dish]) do |f| %>

  <%= f.input :name, label: 'Nom' %>
  <%= f.input :kind_of_dish, label: 'Type de popote', collection: ["Entrée", "Plat principal", "Dessert & Patisserie"], as: :select %>
  <%= f.input :speciality, label: 'Spécialité', collection: ["Gastronomique", "Terroir & Famille", "Cuisines du monde", "Bio & Diététique"], as: :select %>
  <%= f.input :description, label: 'Description', placeholder: "Précisez votre recette, sa préparation, les ingrédients utilisés, les éventuels allergènes" %>
  <%= f.input :veggie, inline_label: 'Végétarien' %>
  <%= f.input :cooked, inline_label: 'Plat cuit' %>
  <%= f.input :be_reheated, inline_label: 'À réchauffer' %>
  <%= f.input :portion_size, label: 'Taille de la portion', collection: ["Petite (env. 150g)", "Moyenne (200-300g)", "Grande (>300g)"], as: :select %>
  <%= f.input :portion_count, label: 'Nombre de portion(s)', collection: 1..50 %>
  <%= f.input :price, label: 'Prix en euros', placeholder: "15 % de frais viennent s'ajouter pour l'acheteur" %>

  <div class='row datetimerange'>
      <%= f.input :exp_date, label: "Date limite pour commander votre plat ?", as: :datetime_picker, wrapper: :ranged_datetime, input_html: {data: {date_options: {locale: 'fr', minDate: Time.now}}} %>
      <%= f.input :collect_date, label: "Quand exactement récupérer votre plat ?", as: :datetime_picker, wrapper: :ranged_datetime, input_html: {data: {date_options: {locale: 'fr', minDate: Time.now}}}  %>
  </div>

  <p>AJOUTEZ JUSQU'À 2 PHOTOS DE VOTRE POPOTE</p>

  <%= f.input :photos, as: :attachinary %>

  <% if f.object.new_record? %>
    <%= f.button :button, "Créer".html_safe, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> 2 sec..."}, class: "btn btn-popote btn-lg"%>
  <% else %>
    <%= f.button :button, "Mettre à jour".html_safe, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> 2 sec..."}, class: "btn btn-popote btn-lg"%>
  <% end %>

  <%= link_to "Annuler", :back, class: "btn btn-default btn-lg" %>

<% end %>

