<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "ustenciles.jpg" %>');">
  <div class="banner-content">
    <h1><%= @dish.name %></h1>

    <p><%= @dish.speciality %>
      <span class="label label-default">
        <%= @dish.kind_of_dish %>
      </span>
    </p>
    <p>
      <%= @dish.description %>
    </p>
    <p>Végétarien
      <span class="label label-default">
        <%= humanize_boolean(@dish.veggie) %>
      </span>
    </p>
    <p>Plat cuit
      <span class="label label-default">
        <%= humanize_boolean(@dish.cooked) %>
      </span>
    </p>
    <p>À réchauffer
      <span class="label label-default">
        <%= humanize_boolean(@dish.be_reheated) %>
      </span>
    </p>
    <p>
      <span class="label label-default">
        <%= @dish.portion_count %>
      </span>
      &nbsp
      <%= "portion".pluralize(@dish.portion_count) %> <%= "disponible".pluralize(@dish.portion_count) %>
    </p>
    <p>Taille
      &nbsp
      <span class="label label-default">
        <%= @dish.portion_size %>
      </span>
    </p>
    <p>Prix
      &nbsp
      <span class="label label-default">
        <%= number_to_currency(@dish.price, locale: :fr) %>
      </span>
    </p>
    <div class="banner-controls">
      <% if @cook.user == current_user %>
        <p>
          <%= link_to "Retour", cook_path(@cook), class: "btn btn-popote-bis" %> <%= link_to "Mettre à jour", edit_cook_dish_path(@cook,@dish), class: "btn btn-popote-bis" %> <%= link_to "Supprimer", cook_dish_path(@cook,@dish), method: :delete, data: {confirm: 'Êtes-vous sûr de vouloir supprimer votre popote ?'}, class: "btn btn-popote-bis" %>
        </p>
      <% else %>
        <p>
          <%= render "addto_cart_show", dish: @dish, order_item: @order_item %>
        </br>
          <%= link_to "Retour", cook_path(@cook), class: "btn btn-popote-bis" %>
        </p>
      <% end %>
    </div>
  </div>

  <% if @dish.photos? %>

  <% @dish.photos.each do |photo| %>
    <%= cl_image_tag photo.path, height: 150, width: 200, crop: :fill, class:"product-image hidden-xs" %>
  <% end %>

  <% else %>

  <% end %>


</div>










