<div class="container text-left">

  <h2 class="text-center"><%= @dish.name %></h2>
    <p>
      <%= link_to "Revenir à vos plats", dishes_path, class: "btn btn-primary" %> <%= link_to "Mettre à jour votre plat", edit_dish_path(@dish), class: "btn btn-warning" %> <%= link_to "Supprimer", dish_path(@dish), method: :delete, class: "btn btn-danger" %>
    </p>

  <h2>
   Spécialité : <%= @dish.speciality %>
  </h2>

  <h2>
   <%= @dish.kind_of_dish %>
  </h2>

  <h2>
   <%= @dish.description %>
  </h2>

  <h2>
    Végétarien : <%= humanize_boolean(@dish.veggie) %>
  </h2>

</div>
