<div class="flash"></div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "ustenciles.jpg" %>');">
  <div class="banner-content">
    <h1><%= @dish.name %></h1>

    <p><%= @dish.speciality %>
      <span class="label label-default">
        <%= @dish.kind_of_dish %>
      </span>
    </p>
    <p>
      " <%= @dish.description %> "
    </p>
    <p>
      Végétarien
      <% if @dish.veggie %>
        <span class="label label-success"><%= humanize_boolean(@dish.veggie) %></span>
      <% else %>
        <span class="label label-warning"><%= humanize_boolean(@dish.veggie) %></span>
      <% end %>

      &nbsp | Plat cuit
      <% if @dish.cooked %>
        <span class="label label-success"><%= humanize_boolean(@dish.cooked) %></span>
      <% else %>
        <span class="label label-warning"><%= humanize_boolean(@dish.cooked) %></span>
      <% end %>

      &nbsp | À réchauffer
      <% if @dish.be_reheated %>
        <span class="label label-success"><%= humanize_boolean(@dish.be_reheated) %></span>
      <% else %>
        <span class="label label-warning"><%= humanize_boolean(@dish.be_reheated) %></span>
      <% end %>
    </p>
    <p>
      <span class="label label-default">
        <%= @dish.portion_count %>
      </span>
      &nbsp
      <%= "portion".pluralize(@dish.portion_count) %> <%= "disponible".pluralize(@dish.portion_count) %>
    </p>
    <p>Taille
      &nbsp
      <span class="label label-default">
        <%= @dish.portion_size %>
      </span>
    </p>
    <p>Prix
      &nbsp
      <span class="label label-default">
        <%= number_to_currency(@dish.price, locale: :fr) %>
      </span>
    </p>



    <div class="banner-controls">
      <% if @cook.user == current_user %>
        <p>
          <%= link_to "Retour", cook_path(@cook), class: "btn btn-popote-bis btn-lg" %> <%= link_to "Mettre à jour", edit_cook_dish_path(@cook,@dish), class: "btn btn-popote-bis btn-lg" %> <%= link_to "Supprimer", cook_dish_path(@cook,@dish), method: :delete, data: {confirm: 'Êtes-vous sûr de vouloir supprimer votre popote ?'}, class: "btn btn-popote-bis btn-lg" %>
        </p>

      <% elsif @dish.exp_date > DateTime.now %>

        <p>
          <%= render "add_to_cart", dish: @dish %>
        </p>
        </br>
        <p>
          <%= link_to "Retour", cook_path(@cook), class: "btn btn-popote-bis btn-lg" %>
        </p>
      <% else %>
        <p>
          <%= link_to "Retour", cook_path(@cook), class: "btn btn-popote-bis btn-lg" %>
        </p>
      <% end %>
    </div>

  </div>

  <% if @dish.photos? %>

    <% @dish.photos.each do |photo| %>

      <a href="#", data-toggle="modal" data-target=".enlargePhoto-<%= photo.id %>">
        <%= cl_image_tag photo.path, height: 150, width: 200, quality: 80, fetch_format: :auto, crop: :fill, class:"hidden-xs" %>
      </a>

      <div class="modal enlargePhoto-<%= photo.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= cl_image_tag photo.path, height: 400, width: 550, quality: 80, fetch_format: :auto, crop: :fill %>
            </div>
          </div>
        </div>
      </div>

    <% end %>

  <% else %>

  <% end %>

</div>















