<h3>Bonjour, <%= @order.first_name %></h3>

<p>
  Votre commande a bien été enregistrée !<br>
</p>

<p>
  Vous avez demandé :
</p>

<% @order.order_items.each do |order_item| %>
  <p style="font-weight: bold;">
    <%= "- #{order_item.quantity} part(s) de #{order_item.dish.name}" %>
  </p>
  <p>
    Pour récupérer cette popote, vous avez rendez-vous à l'adresse suivante :
  </p>
  <p style="font-weight: bold;">
    <% order_item.dish.cook.places.each do |place| %>
      <% if place.active %>
        <%= "#{place.full_address}, #{place.zip_code} #{place.city}, le #{order_item.dish.collect_date.strftime('%d/%m/%Y')} à #{order_item.dish.collect_date.strftime('%H:%M')}" %>
        <p>
          Indications du chef concernant son adresse : <br>
          "<%= place.comments %>"
        </p>
      <% end %>
    <% end %>
  </p>
<% end %>

<p>
  Attention : soyez à l'heure à vos différents lieux de rendez-vous.<br>
  La confiance ainsi que la ponctualité réciproque des chefs et des utilisateurs rendent l’expérience Popotes unique...<br>
  On compte sur vous !
</p>

<p>
  Montant total de votre commande : <%= number_to_currency(@order.total_amount, locale: :fr) %><br>
  Dont frais de service : <%= number_to_currency(@order.charge, locale: :fr) %>
</p>

<p>
  Bon appétit !<br>
  Merci et à très bientôt sur Popotes !
</p>
