<h3>Bonjour <%= @user.first_name %>,</h3>

<p>
  Ta commande a bien été enregistrée !<br>
</p>

<p>
  Tu souhaites du rab :
</p>

<% @order.order_items.each do |order_item| %>
  <p style= "font-weight: bold;">
    <%= "- #{order_item.quantity} #{pluralize_with_0('portion', order_item.quantity)} de #{order_item.dish.name} à #{order_item.dish.cook.user.first_name} "%>
  </p>
  <p>
    Pour récupérer ce plat, tu as rendez-vous à l'adresse suivante :
  </p>
  <p style= "font-weight: bold;">
    <% order_item.dish.cook.places.each do |place| %>
      <% if place.active %>
        <%= "#{place.full_address}, #{place.zip_code} #{place.city}," %><br>
      <%= "Le #{order_item.dish.collect_date.strftime('%d/%m/%Y')} à #{order_item.dish.collect_date.strftime('%H:%M')}" %>
        <p>
          <%= "Indications de #{order_item.dish.cook.user.first_name} concernant son adresse : "%>
        </p>
        <p style= "font-style: italic;">
          "<%= place.comments %>"
        </p>
      <% end %>
    <% end %>
  </p>
<% end %>

<p>
  Attention : sois à l'heure.<br>
  La confiance ainsi que la ponctualité réciproque des chefs et des utilisateurs rendent l’expérience Rab It unique...<br>
  On compte sur toi !
</p>

<p style= "font-weight: bold;">
  Montant total de ta commande : <%= number_to_currency(@order.total_amount, locale: :fr) %><br>
</p>

<p>
  Bon appétit !<br>
  Merci et à très bientôt sur Rab It !
</p>

