<h3>Bonjour, <%= @cook.user.first_name %></h3>

<p>
  À vos fourneaux, vous avez reçu une commande !
</p>

<p>
  On vous demande une part de :
</p>

<p style="font-weight: bold;">
  <%= "- #{@order_item.quantity} portion(s) de #{@order_item.dish.name}" %>
</p>
<p>
  Pour remettre cette popote, vous avez rendez-vous à votre adresse active :
</p>
<p style="font-weight: bold;">
  <% @cook.places.each do |place| %>
    <% if place.active %>
      <%= "#{place.full_address}, #{place.zip_code} #{place.city}, le #{@order_item.dish.collect_date.strftime('%d/%m/%Y')} à #{@order_item.dish.collect_date.strftime('%H:%M')}" %>
    <% end %>
  <% end %>
</p>

</p>
  Attention : soyez à l'heure à votre lieu de rendez-vous.<br>
  La confiance ainsi que la ponctualité réciproque des chefs et des utilisateurs rendent l’expérience Popotes unique...<br>
  On compte sur vous !
</p>

<p>
  Votre popote vous rapporte : <%= number_to_currency(@order_item.net_for_cook, locale: :fr) %><br>
  Après frais de service : <%= number_to_currency(@order_item.cook_charge, locale: :fr) %>
</p>

<p>
  Merci et à très bientôt sur Popotes !
</p>
