<h3>Bonjour <%= @cook.user.first_name %>,</h3>

<p>
  Tu as reçu une commande !
</p>

<p>
  <%= "#{@order.first_name} souhaite du rab : "%>
</p>

<p style="font-weight: bold;">
  <%= "- #{@order_item.quantity} #{pluralize_with_0('portion', @order_item.quantity)} de #{@order_item.dish.name}" %>
</p>
<p>
  Pour remettre ce plat, tu as rendez-vous à ton adresse active :
</p>
<p style="font-weight: bold;">
  <% @cook.places.each do |place| %>
    <% if place.active %>
      <%= "#{place.full_address}, #{place.zip_code} #{place.city}," %><br>
      <%= "Le #{@order_item.dish.collect_date.strftime('%d/%m/%Y')} à #{@order_item.dish.collect_date.strftime('%H:%M')}" %>
    <% end %>
  <% end %>
</p>

</p>
  Attention : sois à l'heure à ton lieu de rendez-vous.<br>
  La confiance ainsi que la ponctualité réciproque des chefs et des utilisateurs rendent l’expérience Rab It unique...<br>
  On compte sur toi !
</p>

<p style= "font-weight: bold;">
  Ce plat te rapporte dans la poche : <%= number_to_currency(@order_item.net_for_cook, locale: :fr) %><br>
  Après nos frais de service : <%= number_to_currency(@order_item.cook_charge, locale: :fr) %>
</p>

<p>
  Merci et à très bientôt sur Rab It !
</p>

